/**
 * sg-loading 加载组件样式
 * @author SteadyGame Team
 */

@import '../../styles/variables.scss';

.sg-loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index-loading;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
	
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 200rpx;
		padding: $spacing-md;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: $radius-lg;
	}
	
	&__spinner {
		width: 64rpx;
		height: 64rpx;
		border: 6rpx solid rgba(255, 255, 255, 0.3);
		border-top-color: #fff;
		border-radius: 50%;
		animation: sg-loading-spin 0.8s linear infinite;
	}
	
	&__text {
		font-size: $font-sm;
		color: $text-inverse;
		margin-top: $spacing-sm;
	}
}

@keyframes sg-loading-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
