/**
 * sg-list-item 列表项组件样式
 * @author SteadyGame Team
 */

@import '../../styles/variables.scss';

.sg-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: $spacing-base;
	background-color: $bg-white;
	
	&--border {
		border-bottom: 1rpx solid $border-light;
	}
	
	&__icon {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 48rpx;
		height: 48rpx;
		margin-right: $spacing-sm;
	}
	
	&__icon-text {
		font-size: $font-lg;
	}
	
	&__content {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	&__main {
		display: flex;
		flex-direction: column;
	}
	
	&__title {
		font-size: $font-base;
		color: $text-primary;
	}
	
	&__desc {
		font-size: $font-sm;
		color: $text-secondary;
		margin-top: 4rpx;
	}
	
	&__right {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	&__value {
		font-size: $font-base;
		color: $text-secondary;
	}
	
	&__arrow {
		font-size: $font-lg;
		color: $text-placeholder;
		margin-left: $spacing-xs;
	}
}
